<form action="" method="post">
Email: <input type="email" name="email" id="email"> 
name: <input type="text" name="name" id="name">
Quote: <input type="text" name="quote" id="quote">
<input type="submit" value="Enviar">
</form>